@font-face {
    font-family: 'Lato';
    src: local('Lato'), url(./../public/fonts/Lato/Lato-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'LatoBold';
    src: local('LatoBlack'), url(./../public/fonts/Lato/Lato-Black.ttf) format('truetype');
}

@keyframes grow {
    from {width:0%;}
    to {width: 100%;}
}
@keyframes fadeIn {
    from {opacity: 0%;}
    to {opacity: 100%;}
}
@keyframes colourPop {
    from {background-color: rgb(255, 255, 255);}
    to {background-color: azure;}
}

html {
    font-family: Lato;
    background-color: azure;
    background-size: 2000px;
    animation-name: colourPop;
    animation-duration: 2s;
}

.headerTabs {
    
    width: 300px;
    margin:auto;
    margin-top: 50px;
}

.activeTab {
    font-family: LatoBold !important;
    color:#5f9ea0 !important;
}

.menuIndicator {
    background: #5f9ea0 !important;
    height: 1px !important;
}

.dojo {
    position: relative;
    text-align: center;
    justify-content: center;
    width:100%;
    height: 35vh;
    margin-top: 50px;
    display: flex;
}

.results {
    
    padding: 15px;
    position: absolute;
    bottom: 140px;
    color:#5f9ea0;
    animation-name: fadeIn;  
    margin-bottom: 5px;
    animation-duration:1s;
}

.results > * {
    text-align: left;
}
.resultsText{
    text-align: center;
    padding-bottom: 5px;
    border-bottom: 2px solid #5f9ea0;
    font-size:10pt;
    margin-bottom: 10px;
}

.cycle {
    position: absolute;
    border-radius: 9px;
    width: 300px;
    height: 60px;
    bottom: 0px;
    margin: auto;
    justify-content: center;
    padding: 5px;
}

.feeder {
    font-family: Lato;
    animation-name: fadeIn;  
    margin-bottom: 20px;
    animation-duration:1s;
    animation-delay:0.5s;
    animation-fill-mode: backwards;
    text-align: center;
    margin-left: 54px;
}

.activeWord{
    display: inline;
}
.onDeck {
    display:inline;
    color: #5f9ea0;
}
.onDeckWords{
    display:inline;
    margin-left: 10px;
    width: 10px;
}

.eater {
    background: none;
    animation-name: grow;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(1,-0.02, 0.18, 1.38);
}

.statsBar{
    margin-top: 10px;
    background: none;
    animation-name: fadeIn;
    animation-duration:1s;
    animation-delay:0.5s;
    animation-fill-mode: backwards;

}

.eats{
    width: 100%;
    display:inline;
    position:absolute;
    right: 70px;
}

.counter {
    color: rgba(95, 158, 160,1);
    display:inline;
    right:20;
}

.header {
    font-family: LatoBold;
    color:#5f9ea0;
}

.underConstruction {
    color: rgba(95, 158, 160,1);
    margin-top: 100px;
    text-align: center;
    
}